<div class="backdrop js-rating-backdrop is-hidden">
  <div class="modal rating-modal">
    <button type="button" class="modal-close-btn js-rating-close">
      <svg width="24" height="24" viewBox="0 0 24 24" stroke="currentColor">
        <path
          d="M18 6L6 18M6 6L18 18"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>

    <p class="rating-title">Rating</p>

    <div class="rating-stars-block">
      <p class="rating-value js-rating-value">0.0</p>
      <ul class="stars-list js-stars-list">
        <li class="star-item" data-value="1">
          <svg viewBox="0 0 32 32">
            <path
              d="M16 2 L20.32 10.75 L30 12.16 L23 18.98 L24.65 28.63 L16 24.08 L7.35 28.63 L9 18.98 L2 12.16 L11.68 10.75 Z"
            ></path>
          </svg>
        </li>
        <li class="star-item" data-value="2">
          <svg viewBox="0 0 32 32">
            <path
              d="M16 2 L20.32 10.75 L30 12.16 L23 18.98 L24.65 28.63 L16 24.08 L7.35 28.63 L9 18.98 L2 12.16 L11.68 10.75 Z"
            ></path>
          </svg>
        </li>
        <li class="star-item" data-value="3">
          <svg viewBox="0 0 32 32">
            <path
              d="M16 2 L20.32 10.75 L30 12.16 L23 18.98 L24.65 28.63 L16 24.08 L7.35 28.63 L9 18.98 L2 12.16 L11.68 10.75 Z"
            ></path>
          </svg>
        </li>
        <li class="star-item" data-value="4">
          <svg viewBox="0 0 32 32">
            <path
              d="M16 2 L20.32 10.75 L30 12.16 L23 18.98 L24.65 28.63 L16 24.08 L7.35 28.63 L9 18.98 L2 12.16 L11.68 10.75 Z"
            ></path>
          </svg>
        </li>
        <li class="star-item" data-value="5">
          <svg viewBox="0 0 32 32">
            <path
              d="M16 2 L20.32 10.75 L30 12.16 L23 18.98 L24.65 28.63 L16 24.08 L7.35 28.63 L9 18.98 L2 12.16 L11.68 10.75 Z"
            ></path>
          </svg>
        </li>
      </ul>
    </div>

    <form class="rating-form js-rating-form">
      <input
        type="email"
        name="email"
        class="rating-input"
        placeholder="Email"
        required
      />
      <textarea
        name="comment"
        class="rating-textarea"
        placeholder="Your comment"
        required
      ></textarea>
      <button type="submit" class="rating-btn">Send</button>
    </form>
  </div>
</div>
